.headerContainer {
  background: var(--gray700);
  color: var(--white);
  height: 5rem;
  border-radius: 0 0 .2rem .2rem;
  box-shadow: 10px 28px 21px -3px rgba(0, 0, 0, 0.1);
  padding: 1rem 5rem 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    // background: tomato;

    a {
      margin: .5rem;
      background: var(--gray400);
      font-size: 700;
      padding: .5rem;
      border-radius: .5rem;

      &.login {
        background: var(--teal500);
      }

      &.exit {
        background: var(--red700);
        color: var(--gray100);
      }
    }


  }

}