.main {
  display: flex;
  flex-direction: column;
  background: var(--white);
  padding: 1rem;
  min-width: 25rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

  button {
    line-height: 1.5rem;
    padding: .5rem;
    margin: 1rem 0;
    background: var(--blue600);
    border: none;
    color: var(--white);
    border-radius: .5rem;
    font-size: 1.3rem;
    line-height: 2.5rem;
    transition: ease filter .5s;

    &:hover {
      filter: contrast(150%);
    }

  }

  div {
    border-bottom: 1px var(--gray400) solid;
    margin: 1rem auto;
    width: 100%;
  }

  a {
    margin: .5rem auto;
    cursor: pointer;
    transition: ease filter .5s;

    &:hover {
      filter: contrast(150%);
    }
  }
}